* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 48px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    width: 5%;
    background-image: url("assets/nav.png");
    background-repeat: no-repeat;
}

.header-name {
    width: 18%;
}

.header-name h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.87);
}

.header-menu {
    width: 77%;
    background-image: url("assets/menu.png");
    background-repeat: no-repeat;
    background-position: 98% 10px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main .instruments {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .instruments ul {
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 246px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 15px;
}

ul li:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main .instruments ul li {
    height: 25%;
    list-style: none;
    line-height: 60px;
    text-align: left;
    padding-left: 15%;
}
.main .instruments ul li img {
    padding-right: 20%;
}

.main .instruments ul:hover, .main .switcher ul:hover {
    border: 1px solid blue;
}

.main .instruments ul li:hover, .main .switcher ul li:hover{
    border: 2px solid red;
}

#piskel {
    width: 40%;
    height: auto;
    max-width: 512px;
    max-height: 512px;
}

.main .switcher {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .switcher ul {
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 185px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 0;
}

.main .switcher ul li {
    height: 33%;
    list-style: none;
    line-height: 60px;
    text-align: left;
    padding-left: 35%;
    border: 1px solid white;
}

#instruments-color {
    overflow: hidden;
}

.circle {
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    border-radius: 50%;
    float: left;
    margin-top: 15px;
    margin-right: 15%;
    }

#current-color {
    background-color: #C4C4C4;
}

#prev-color {
    background-color: #41F795;
}

#red-color {
    background-color: red;
}

#blue-color {
    background-color: blue;
}